    .wrap {
            width: 750px;
            margin-right: auto;
            margin-left: auto;
        }

        .custom-form {
            width: 400px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;
        }

        .custom-form-button {
            width: 400px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }

        label {
            float: left;
            color: #FFAFAF;
            width: 140px;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
        }

        .custom-cost-box {
            background-color: white;
            font-weight: bold;
        }

        .custom-cost-label {
            color: #2b2b2b;
            background-color: white;
            border-bottom: 2px solid green;
        }

        .regEventBtn {
            background-color: #FFAFAF;
            color: white;
            font-weight: bold;
            width: 150px;
        }

        .start-box, .end-box {
            width: 120px;
            text-align: center;
            color: green;
        }
