.star-review > div.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
  margin-left: 30%;
  margin-right: 30%;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.star-rating :checked ~ label {
  -webkit-text-fill-color: #F5C0BE;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: lightpink;
}

.star-review{
  content-align: center;
}

.register-review{
  width: 200px;
}

.reviewBtn {
    background-color: white;
    color: mediumpurple;
    font-weight: bold;
    font-family: 'Gowun Dodum', sans-serif;
    border: pink;
}
