<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/fe92d18f9e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&family=Jua&family=Poor+Story&display=swap"
          rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="../static/css/bannerstyle.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/loginstyle.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/join.js"></script>

    <title>Event Cafe Cloude | EC2</title>

</head>
<body>
<section class="ec2-banner">
    <div class="welcome-message">
        guest님 환영합니다&nbsp;&nbsp;
        <button class="banner-button" onclick="location.href='/auth/login'">로그인</button>
    </div>
    <div class="banner-logo">
        <img src="../static/ec2_logo.png" onclick="location.href='/'">
    </div>
</section>
<div class="sign_form">
    <div class="welcome">
        <img src="../static/smilee.png" width="150px">
        <p>Welcome to Join EC2</p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
        </div>
        <input type="text" id="input-userId" class="form-control" placeholder="아이디" aria-label="Username"
               aria-describedby="basic-addon1">
        <div id="btn-check-dup" class="control is-hidden">
            <button class="check-button" onclick="check_dup()">중복확인</button>
        </div>
        <p id="help-id" class="is-danger">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다</p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        </div>
        <div>
            <input type="password" id="input-userPw" class="form-control" placeholder="비밀번호" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <p id="help-password" class="help is-hidden">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요.</p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        </div>
        <input type="password" id="input-userPw2" class="form-control is-safe" placeholder="비밀번호확인"
               aria-label="Username"
               aria-describedby="basic-addon1">
        <p id="help-password2" class="help is-hidden"></p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
        </div>
        <input type="email" id="input-userMail" class="form-control" placeholder="이메일" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-face-grin-stars"></i></span>
        </div>
        <input type="text" id="input-nickname" class="form-control" placeholder="닉네임" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>
    프로필 사진을 업로드해주세요
    <div class="filebox">
        <input id="input-profileImg" class="upload-name" value="첨부파일" placeholder="첨부파일"><label for="file">파일찾기&nbsp<i
            class="fa-solid fa-image"></i></label>
        <input type="file" id="file">
    </div>
    <div class="button_form">
        <button type="button" class="btn btn-lg join_button" onclick="join()">회원가입</button>
    </div>
</div>
</body>
</html>