<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/fe92d18f9e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&family=Jua&family=Poor+Story&display=swap"
          rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link href="../static/css/bannerstyle.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/loginstyle.css" rel="stylesheet" type="text/css"/>

    <script>
        function is_id(asValue) {
            let regExp = /^(?=.*[a-zA-Z])[-a-zA-Z0-9_.]{2,10}$/;
            return regExp.test(asValue);
        }

        function check_dup() {
            let userId = $('#input-userId').val()
            if (userId == "") {
                $('#help-id').text("아이디를 입력해주세요!").removeClass("is-safe").addClass("is-danger")
                $('#input-userId').focus()
                return;
            }
            if (!is_id(userId)) {
                $('#help-id').text("아이디 형식을 확인해주세요!").removeClass("is-safe").addClass("is-danger")
                $('#input-userId').focus()
                return;
            }
            $('#help-id').addClass("is-loading")
            $.ajax({
                type: "POST",
                url: "/api/join/double_check",
                data: {user_id_give: userId},
                success: function (response) {
                    if (response["checkResult"]) {
                        $("#help-id").text("이미 가입된 아이디입니다.").removeClass("is-safe").addClass("is-danger")
                        $("#input-userId").focus()
                    } else {
                        $("#help-id").text("사용할 수 있는 아이디입니다.").removeClass("is-danger").addClass("is-safe")
                    }
                }
            });
        }

        function is_password(asValue) {
            let regExp = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
            return regExp.test(asValue);
        }

        function join() {
            let user_id = $('#input-userId').val()
            let user_pw = $('#input-userPw').val()
            let user_pw2 = $('#input-userPw2').val()
            let user_email = $('#input-userMail').val()
            let user_nickname = $('#input-nickname').val()
            let user_img = $('#file')[0].files[0]

            if ($('#help-id').hasClass("is-danger")) {
                alert("아이디를 확인해주세요!")
                return;
            } else if (!$('#help-id').hasClass("is-safe")) {
                alert("아이디 중복확인을 해주세요!")
                return;
            }

            if (user_pw == "") {
                $('#help-password').text("비밀번호를 입력하세요").removeClass("is-safe").addClass("is-danger")
                $('#input-userPw').focus()
                return;
            } else if (!is_password(user_pw)) {
                $('#help-password').text("비밀번호 형식을 확인해주세요").removeClass("is-safe").addClass("is-danger")
                $('#input-userPw').focus()
                return;
            } else {
                $('#help-password').text("사용할 수 있는 비밀번호입니다").removeClass("is-safe").addClass("is-danger")
            }
            if (user_pw2 != user_pw) {
                $('#help-password2').text("비밀번호가 일치하지 않습니다.")
                $('#input-userPw2').focus()
                return;
            }

            let form_data = new FormData()

            form_data.append("user_id_give", user_id)
            form_data.append("user_pw_give", user_pw)
            form_data.append("user_email_give", user_email)
            form_data.append("user_nickname_give", user_nickname)
            form_data.append("user_profile_give", user_img)

            $.ajax({
                type: "POST",
                url: "/api/join",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert("가입되었습니다!")
                    window.location.replace("/")
                }
            });
        }
    </script>
    <title>Event Cafe Cloude | EC2</title>
</head>


<body>
<section class="ec2-banner">
    <div class="welcome-message">
        guest님 환영합니다&nbsp;&nbsp;
        <button class="banner-button" onclick="location.href='/login'">로그인</button>
    </div>
    <div class="banner-logo">
        <img src="../static/ec2_logo.png" onclick="location.href='/'">
    </div>
</section>
<div class="sign_form">
    <div class="welcome">
        <img src="../static/smilee.png" width="150px">
        <p>Welcome to Join EC2</p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
        </div>
        <input type="text" id="input-userId" class="form-control" placeholder="아이디" aria-label="Username"
               aria-describedby="basic-addon1">
        <div id="btn-check-dup" class="control is-hidden">
            <button class="check-button" onclick="check_dup()">중복확인</button>
        </div>
        <p id="help-id" class="is-danger">아이디는 2-10자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다</p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        </div>
        <div>
            <input type="password" id="input-userPw" class="form-control" placeholder="비밀번호" aria-label="Username"
                   aria-describedby="basic-addon1">
        </div>
        <p id="help-password" class="help is-hidden">영문과 숫자 조합의 8-20자의 비밀번호를 설정해주세요.</p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
        </div>
        <input type="password" id="input-userPw2" class="form-control is-safe" placeholder="비밀번호확인"
               aria-label="Username"
               aria-describedby="basic-addon1">
        <p id="help-password2" class="help is-hidden"></p>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
        </div>
        <input type="email" id="input-userMail" class="form-control" placeholder="이메일" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa-solid fa-face-grin-stars"></i></span>
        </div>
        <input type="text" id="input-nickname" class="form-control" placeholder="닉네임" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>
    프로필 사진을 업로드해주세요
    <div class="filebox">
        <input id="input-profileImg" class="upload-name" value="첨부파일" placeholder="첨부파일"><label for="file">파일찾기&nbsp<i
            class="fa-solid fa-image"></i></label>
        <input type="file" id="file">
    </div>
    <div class="button_form">
        <button type="button" class="btn btn-lg join_button" onclick="join()">회원가입</button>
    </div>
</div>
</body>
</html>