<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/fe92d18f9e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dongle&family=Jua&family=Poor+Story&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <meta charset="UTF-8">
    <!-- CSS 링크 -->
    <link href="../static/css/bannerstyle.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/loginstyle.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/profilestyle.css" rel="stylesheet" type="text/css"/>

    <!-- JS 링크 -->
    <script src="../static/js/login_out.js"></script>

    <title>Event Cafe Cloude | EC2</title>

    <script>
        function updProfile() {
            let user_nickname = $('#input-nickname').val()
            let user_info = $('#input-userinfo').val()
            let user_img = $('#file')[0].files[0]

            console.log(user_nickname, user_info, user_img)

            let form_data = new FormData()

            form_data.append("user_nickname_give", user_nickname)
            form_data.append("user_userinfo_give", user_info)
            form_data.append("user_profile_give", user_img)

            console.log(form_data)

            $.ajax({
                type: "POST",
                url: "/user/api/update",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert("수정 완료!")
                    window.location.replace("/user/profile")
                }
            });
        }
    </script>

</head>
<body>
<section class="ec2-banner">
    {% if msg %}
        <div class="welcome-message">
            guest님 환영합니다 &nbsp;&nbsp;&nbsp;
            <button class="banner-button" onclick="location.href='/auth/login'">로그인</button>
        </div>
    {% else %}
        <div class="welcome-message">
            <a href="/user/profile">{{ user["user_nickname"] }}님</a> 환영합니다 &nbsp;&nbsp;
            <button class="banner-button" onclick=logout()>로그아웃</button>
        </div>
    {% endif %}
    <div class="banner-logo">
        <img src="../static/ec2_logo.png" onclick="location.href='/'">
    </div>
</section>
<div class="profile-text"><i class="fa-solid fa-cloud"></i>&nbsp My profile</div>
<div class="profileBox">
    <div class="profile-user-img">
        <img src="../static/profile_pics/{{ user["user_profile"] }}" alt="" class="profile-user-img-img">
    </div>
    <div class="profile-nickname">{{ user["user_nickname"] }} ({{ user["user_id"] }})</div>
    {% if user["user_info"] %}
        <div class="profile-info"><i class="fa-solid fa-volume-off"></i>&nbsp {{ user["user_info"] }}</div>
    {% else %}
        <div class="profile-info"><i class="fa-solid fa-volume-off"></i>&nbsp 소개글을 작성해보세요!</div>
    {% endif %}
    <button type="button" class="btn btn-primary cafeBtn" data-toggle="modal" data-target="#exampleModal">
        프로필 수정
    </button>
    &nbsp;&nbsp;
    {% if user["cafe"] %}
        <button type="button" class="btn btn-outline-primary updBtn" onclick="location.href='/user/cafe/manage?id={{ my_cafe['cafe_id'] }}'">내 카페
            관리
        </button>
    {% else %}
        <button type="button" class="btn btn-outline-primary updBtn" onclick="location.href='/user/cafe/register'">내 카페 등록
        </button>
    {% endif %}
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="sign_form">
                    <div class="welcome">
                        <img src="../static/smilee.png" width="150px">
                        <p>Update your profile</p>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-face-grin-stars"></i></span>
                        </div>
                        <input type="text" id="input-nickname" class="form-control"
                               placeholder="{{ user.user_nickname }}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-volume-off"></i></span>
                        </div>
                        <textarea type="text" id="input-userinfo" class="form-control"
                                  placeholder="{{ user.user_info }}"></textarea>
                    </div>
                    프로필 사진을 업로드해주세요
                    <div class="filebox">
                        <input id="input-profileImg" class="upload-name" value="첨부파일" placeholder="첨부파일">
                        <label for="file">파일찾기&nbsp<i class="fa-solid fa-image"></i></label>
                        <input type="file" id="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary cafeBtn" onclick="updProfile()">저장하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="profile-text"><i class="fa-solid fa-mug-saucer"></i>&nbsp favorite</div>
<div class="profileBox"></div>
<div class="profile-text"><i class="fa-solid fa-calendar-check"></i>&nbsp Reservation</div>
<div class="profileBox"></div>
</body>
</html>